<!--First try-->
<div class="card text-white">
  <div class="overlay-div"></div>
   <img src="{% static 'images/header.jpg' %}" class="card-img" alt="Header"/>
    <div class="card-img-overlay d-flex flex-column align-items-start">
      <div class="m-auto">
        <h5 class="card-title text-center" style="font-size: 5vw; color: #fadbdd;">Бухгалтерское обслуживание в Москве и Краснодаре</h5>
      </div>
      <div class="header mx-auto mb-0">
          <p class="card-text text-center" style="font-size: 3vw;">
          Помогаем вести бухгалтерию и сдавать отчетность
          </p>
          <h2 class="text-center">
              <a href="#services-top" class="btn mx-auto" style="color: #fadbdd">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                </svg>
              </a>
          </h2>
      </div>
  </div>
</div>


<!-- Close/open button for sidebar-->
<a href="#" class="btn" id="menu-toggle">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8Zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5Z"/>
    </svg>
</a>


<!-- HTML !-->
<button class="button-52" role="button">Button 52</button>

/* CSS */
